html{
    /*background-image: url(/Archivos_Media/img\ 2.jpg);*/
    background-color: rgb(24, 36, 36);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.first{
    width: 100%;
    display:flex;
    position: relative;
    background-color: rgb(231, 231, 231);
    margin: 100px 100px 100px 100px;
    border-radius: 20px;
}

/*.first{
    position: absolute;
    background-color: darkgray;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#backphoto{
    width: 350px;
    height: 350px;
    border-radius: 175px;
    margin-top: 80px;
    margin-bottom: 80px;
}

img:hover{
    opacity: 0.9;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

img{
    transition: all 1s ease 0s;    
}

/* .andrea{
    margin-left: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
} */

h1{
    /*position: absolute;*/
    top: 85px;
    font-family: 'Poppins', sans-serif;
    color: rgb(24, 36, 36);
    margin-bottom: 0px;
}

h4{
    /*position: absolute;*/
    top: 140px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: rgb(24, 36, 36);
    margin-bottom: 30px;
    margin-top: 10px;
}

.second{
    width: 100%;
}

#log_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 38%;
}

.containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#username{
    /*position: absolute;*/
    top: 215px;
    width: 250px;
    height: 30px;
    border: 2.4px solid rgb(24, 36, 36);
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    user-select: none;
    font-family: 'poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#username::placeholder{
    font-family: 'poppins', sans-serif;
    /*font-weight: bold;*/
    color: rgb(24, 36, 36);
    text-align: center;
}

#username:focus::-webkit-input-placeholder{
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

#username::placeholder{
    transition: opacity 0.35s ease-in-out;
}

/*#username::placeholder{
    font-family: 'poppins', sans-serif;
    color: rgb(24, 36, 36);
    text-align: center;
    transition: opacity 0.35s ease-in-out;
}

#username::placeholder{  
    transition: opacity 0.35s ease-in-out;
}*/

#username:hover{
    opacity: 0.7;
    transition: opacity 0.35s ease-in-out;
}

#username::placeholder{
    transition: opacity 0.35s ease-in-out;
}

#username{
    transition: opacity 0.35s ease-in-out;
}

#password{
    /*position: absolute;*/
    top: 270px;
    width: 250px;
    height: 30px;
    border: 2.4px solid rgb(24, 36, 36);
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    user-select: none;
    font-family: 'poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

#password::placeholder{
    font-family: 'poppins', sans-serif;
    color: rgb(24, 36, 36);
    text-align: center;
}

#password:focus::-webkit-input-placeholder{
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

#password:hover{
    opacity: 0.7;
    transition: opacity 0.35s ease-in-out;
}

#password::placeholder{
    transition: opacity 0.34s ease-in-out;
}

#password{
    transition: opacity 0.35s ease-in-out;
}

/* CSS */
#log-in_button{
    /*position: absolute;*/
    align-items: center;
    background: rgb(24, 36, 36);
    border: 2.4px solid rgb(24, 36, 36);
    top: 325px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: rgb(231, 231, 231);
    display: inline-flex;
    font-family: 'poppins', sans-serif;
    /*font-size: 1rem;*/
    /*font-weight: 700;*/
    height: 20px;
    justify-content: center;
    line-height: 24px;
    padding: 16.5px;
    text-decoration: none;
    transition: all 0.35s;
    width: auto;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#log-in_button:focus{
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    fill: rgb(94, 95, 98);
    color: rgb(94, 95, 98);
}
  
#log-in_button:hover{
    opacity: 0.8;
    transition: opacity 0.35s ease-in-out;
}

#log-in_button:hover{
    transition: opacity 0.35s ease-in-out;
}

/*#log-in_button:hover {
    background-color: rgb(231, 231, 231);
    border-color: rgb(94, 95, 98);
    fill: rgb(94, 95, 98);
    color: rgb(24, 36, 36);
}*/
  
#log-in_button:active{
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    fill: rgb(94, 95, 98);
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

#pw_link{
    /*position: absolute;*/
    font-family: 'poppins', sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;
}

.links{
    text-decoration: none;
    padding: 2px 1px 0;
    border-radius: 4px;
}

.links:link{
    color: rgb(127, 127, 127);
}

.links:visited {
    color: #3b3b3b;
}
  
.links:focus {
    border-bottom: 1px solid;
    background: #91928f;
}
  
.links:hover {
    border-bottom: 1px solid;
}



#box_row{
    display : flex;
    height: 60px;
    width: 280px;
    flex-direction : row;
    margin-top: 30px;
}

#division_line{
    color: rgb(24, 36, 36);
    border-left: thick solid rgb(24, 36, 36);
    height: 100%;
    width: 0.5%;
    text-align: justify;
}

#box_aligned{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 49.5%;
}

#box_aligned2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 49.5%;
}

#SM_name{
    color: rgb(24, 36, 36);
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
}

#service_mark{
    color: rgb(69, 82, 82);
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    user-select: none;
    -webkit-user-select: none;
    margin-right: 4px;
}

#fb{
    margin-top: 5px;
}

#ig{
    margin-top: 5px;
}

#wpp{
    margin-top: 5px;
}





/*@media (min-width: 768px) {
  .button-58 {
    min-width: 180px;
  }
}
*/

/* @media screen and (max-width:900px) {
    .first{
        background-color: aqua;
    }
} */